*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(0, 0, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vw; 
    
}

.container{
    position: absolute;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    animation: goAround 20s infinite linear ;
    transform-origin: center;
    transform: rotateX(0deg) rotateY(0deg);
    transform-style: preserve-3d;
}

.container img{
    width: 150px;
    height: 200px;
    border-radius: 5px;
    margin: 15px;
    transition: width 10s height 10s;
    position: absolute;
    transform-style: preserve-3d;
}

img:hover{
    width: 170px;
    height: 220px;
    
}



@keyframes goAround {
    from {
        transform: rotateY(0deg);
      }
      to {
        transform: rotateY(360deg);
      }
    
}

.container img:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
  }
.container img:nth-child(2) {
    transform: rotateY(60deg) translateZ(300px);
  }
.container img:nth-child(3) {
    transform: rotateY(120deg) translateZ(300px);
  }
.container img:nth-child(4) {
    transform: rotateY(180deg) translateZ(300px);
  }
.container img:nth-child(5) {
    transform: rotateY(240deg) translateZ(300px);
  }
.container img:nth-child(6) {
    transform: rotateY(300deg) translateZ(300px);
  }
.container img:nth-child(7) {
    transform: rotateY(360deg) translateZ(300px);
  }
